
<div class="body">
  <div class="box">
<i class="bi bi-house" (click)="naviguerVersHome()">
  <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
      <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
    </svg>
</i><h1>Gestion des Conducteurs</h1>

<div class="recherche">
        <input [(ngModel)]="searchTerm" type="text" class="form-control" placeholder=" Faire votre recherche" >
        <button (click)="searchConducteur()" class="btn btn-outline-primary" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
          </svg>
         
        </button>

        &nbsp;&nbsp;&nbsp;
<i class="bi bi-person-fill-add"  (click)="naviguerVersAjouterConducteur()">

  <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
    <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
  </svg>
</i></div>

</div>
<br>
<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th >Numero d'identification</th>
      <th >Nom</th>
      <th >Prenom</th>
      <th >Age</th>
      <th >sexe</th>
      <th >Email</th>
      <th >Adresse</th>
      <th >Departement</th>
      <th >login</th>
      <th >Mot de passe</th>
      <th >Actions </th>
    </tr>
  </thead>
    <tbody>
      @for(c of conducteurs;track $index){
          <tr>
            
      <td >{{ c.numero }}</td>
      <td>{{ c.nom }}</td>
      <td>{{ c.prenom }}</td>
      <td>{{ c.age }}</td>
      <td>{{ c.sexe }}</td>
      <td>{{ c.email }}</td>
      <td>{{ c.adresse }}</td>
      <td>{{ c.departement }}</td>
      <td><span (click)="toggleLoginVisibility(c)" style="cursor: pointer;">
        {{ c.showLogin ? c.login : '********' }}
      </span></td>
      <td> <span (click)="toggleMotdepasseVisibility(c)" style="cursor: pointer;">
        {{ c.showMotdepasse ? c.motdepasse : '********' }}
      </span></td>

      <!-- <button type="button" class="btn btn-danger btn-sm" (click)="deleteConducteur(c.numero)">Supprimer</button> -->
      <td><i class="bi bi-trash-fill"  (click)="deleteConducteur(c.numero)">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="red" class="bi bi-trash-fill" viewBox="0 0 16 16">
          <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
        </svg>
      </i>

      <!-- <button class="btn btn-warning btn-sm"><span (click)="naviguerVersModifierConducteur(c)">Modifier</span></button> -->

      <i class="bi bi-pencil-square"  (click)="naviguerVersModifierConducteur(c)">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="blue" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
        </svg>
      </i></td>
  </tr>}
</tbody>
  </table>
  
  
  
  
  </div>

</div>






<!-- <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table> -->