/* table,tr,td,th{
    border: 2px solid black;
} */

.body {
    background-image: url('C:/Users/user/ProjetAngular/public/parking.jpg');
    height: 2000px;
    background-size: cover; /* Assure que l'image de fond couvre tout l'écran */
    background-position: center; /* Centre l'image de fond */
}

.square {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    text-decoration: none;
    border-radius: 10px;
}

.recherche {
    display: flex;
}

.box {  
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 1px solid rgb(208, 205, 205);
    padding: 10px; /* Ajout de padding pour un meilleur espacement */
    border-radius: 5px; /* Ajout d'un arrondi aux coins */
}

.square1 { 
    background-color: rgb(249, 12, 12); 
}

.size {
    width: 50px;
    height: 50px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
}

h2 {
    text-align: center;
}

/* Media Queries pour rendre le design responsive */
@media screen and (max-width: 768px) {
    .square {
        height: 150px; /* Ajuster la hauteur pour les écrans plus petits */
        font-size: 20px; /* Réduire la taille de la police */
    }

    .size {
        width: 40px; /* Réduire la taille pour les petits écrans */
        height: 40px; /* Réduire la taille pour les petits écrans */
    }

    .box {
        flex-direction: column; /* Changer la direction pour les petits écrans */
        align-items: flex-start; /* Aligner les éléments à gauche */
        margin: 10px 0; /* Ajouter une marge entre les boîtes */
    }

    .container {
        justify-content: center; /* Centrer les éléments dans le conteneur */
    }
}

@media screen and (max-width: 480px) {
    .square {
        height: 100px; /* Ajuster la hauteur pour les très petits écrans */
        font-size: 16px; /* Réduire encore la taille de la police */
    }

    .size {
        width: 30px; /* Réduire encore la taille pour les très petits écrans */
        height: 30px; /* Réduire encore la taille pour les très petits écrans */
    }

    h2 {
        font-size: 18px; /* Réduire la taille du titre */
    }
}