.square {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  text-decoration: none;
  border-radius: 10px;
}

.square1 { background-color: rgb(46, 44, 44); }
.square2 { background-color: rgb(67, 66, 66); }
.square3 { background-color: gray; }
.square4 { background-color: rgb(178, 176, 176); }
.square5 { 
  background-color: rgb(194, 25, 25);
  margin-top: 20px;
  position: relative;
  margin-left: auto; /* Utiliser auto pour centrer */
  margin-right: auto; /* Utiliser auto pour centrer */
}

.size {
  width: 50px;
  height: 50px;
}

.alert-counter {
  position: relative;
  display: inline-block;
}

h1 {
  margin-top: 20px;
  color: antiquewhite;
}

.badge {
  position: absolute;
  bottom: 6px;
  left: 26px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 16px;
}

.square:hover {
  opacity: 0.5;
}

.body {
  background-image: url('C:/Users/user/ProjetAngular/public/parking.jpg');
  height: 900px;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 50px;
}

.log {
  height: 100px;
  width: 100px;
  background-color: antiquewhite;
  margin-top: 10px;
}

.box {
  display: flex;
  justify-content: space-between;
}

/* Media Queries pour rendre le design responsive */
@media screen and (max-width: 768px) {
  .square {
    height: 150px; /* Ajuster la hauteur pour les écrans plus petits */
    font-size: 20px; /* Réduire la taille de la police */
  }

  img {
    height: 150px; /* Ajuster la taille de l'image */
    width: 150px; /* Ajuster la taille de l'image */
  }

  .square5 {
    margin-left: 0; /* Supprimer le margin-left pour les petits écrans */
    margin-right: 0; /* Supprimer le margin-right pour les petits écrans */
  }

  .box {
    flex-direction: column; /* Changer la direction pour les petits écrans */
    align-items: center; /* Centrer les éléments */
  }
}

@media screen and (max-width: 480px) {
  .square {
    height: 100px; /* Ajuster la hauteur pour les écrans très petits */
    font-size: 16px; /* Réduire encore la taille de la police */
  }

  img {
    height: 100px; /* Ajuster la taille de l'image */
    width: 100px; /* Ajuster la taille de l'image */
  }

  h1 {
    font-size: 20px; /* Réduire la taille du titre */
  }
}