/* table,tr,td,th{
    border: 2px solid black;
} */

h1 {
    text-align: center;
    font-size: 2.5rem; /* Taille de police par défaut */
    margin: 20px 0; /* Marge autour du titre */
}

/* Media Queries pour rendre le design responsive */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem; /* Réduire la taille de la police pour les écrans plus petits */
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 1.5rem; /* Réduire encore la taille de la police pour les très petits écrans */
    }
}